- if @avatars.any?
  #infinite-scroll-avatars
    Infinite[:base-url="'#{@base_url}'"
             :current-user-id="#{current_user_id}"
             :api="'#{api_v1_avatars_path}'"
             :key-name="'avatarIndex'"]