@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

header {
  .navbar{
    border: 1px solid #bbb;
  }
  a {
    text-decoration: none; 
    color: rgb(0, 0, 0);
    &:hover {
      color: gray;
      text-decoration: none;
    }
  }
  ul {
    li { margin: 0 10px; }
  }

}

.center {
  text-align: center;
}

#error_explanation{
  color: red; 
}
input, textarea {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

h2 {
  margin: 20px 0px;
}

.actions {
  input{
    color: white;
    background-color: rgb(58, 58, 63);
  }
}

.form-check-label{
  margin: 0px 5px;
}
.form-check-input{
  width:25px;
  height:25px;
  margin: 10px 0px;
}

body{
  .contents{
    margin-top: 50px;
  }
}

.avatars { list-style: none; }
.btn {
  width: 30%;
  margin: 30px 30px;
  padding: 10px 0px;
}

#delete{
  a {
    text-decoration: none; 
    color: gray;
    &:hover {
      color: rgb(158, 157, 157);
      text-decoration: none;
    }
  }
}
#comment-info{
  margin-bottom: -15px;
  margin-left: -30px;
}

#comment-info-top{
  margin-left: -30px;
}

#icon-delete{
  i {
    font-size: 1em;
    color: gray;
    &:hover {
      color: rgb(158, 157, 157);
    }
    }
}

#button-comment{
  margin-top: -50px;
  margin-right: -30px;
}

#heart{
  color: red;
}

#button {
  border: none;
  &:focus {
    outline: none;
  }
}

.heart-counter{
  margin-left: 10px;
  color: red;
}

.avatar-frame{
  border: none;
}

.user-icon{
  width: 80px;
  height: 80px;
  border-radius: 80px;
}