.follow-btn {
  margin: 0;
  width: 100%;
}
.not-yet-follow-btn {
  color: #2ac0ff;
  border: 1px solid #2ac0ff;
  &:hover {
    color: #0a7cfb;
    border: 1px solid #0a7cfb;
  }
}
.follow-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  &:hover {
    color: gray;
    text-decoration: none;
  }
}
.users-wrapper {
  margin: 50px auto 0 auto;
  padding-top: 10px;
}

.list-top-wrapper {
  z-index: 2;
  margin: 60px auto 0 auto;
  height: 60px;
  background-color: #f8f9ff;
  box-shadow: 0 4px 3px -3px lightgray;
  a {
    position: absolute;
    left: 30px;
    top: 13px;
    text-decoration: none;
    color: gray;
    &:hover {
      color: gray;
      text-decoration: none;
    }
  }
  #title {
    line-height: 60px;
  }
}
#test-login {
  .btn {
    padding: 0;
    width: 110px;
    height: 30px;
    margin: 0;
    border: 2px solid white;
    color: white;
  }
}

.form-check-label {
  margin: 0px 5px;
}
.form-check-input {
  width: 25px;
  height: 45px;
  margin: 10px;
  padding-top: 26px;
}

.user-top-wrapper {
  margin: 0 auto;
  .user-name {
    margin-left: 10px;
    margin-top: 10px;
  }
  button {
    position: absolute;
    right: 0;
    top: 12%;
  }
  .user-icon {
    width: 80px;
    height: 80px;
    border-radius: 80px;
  }
  .user-info {
    text-align: center;
    margin: 0;
    padding: 0;
  }
}

.trim-wapper {
  width: 100%;
  height: 80px;
}
.wapper-center {
  position: absolute;
  left: calc(50% - 40px);
}
.sign-up-wrapper,
.sign-in-wrapper,
.edit-wrapper {
  .btn {
    width: 150px;
    margin: 10px 0;
    padding: 5px;
  }
}

.edit-wrapper {
  .password-change:focus {
    box-shadow: none !important;
  }
}

.error {
  color: #2ac0ff;
  margin: 0;
}

input {
  margin: 0;
  width: 100%;
  margin-bottom: 15px;
  border: none;
  outline: none;
  border-bottom: 1px solid #c2c2c2;
  &:focus {
    border-bottom: 1px solid #2ac0ff;
  }
}
label {
  margin: 20px 0 0 0;
}

.btn-primary {
  border: none;
  background: -moz-linear-gradient(90deg, #8ac8fe, #80f2e0);
  background: -webkit-linear-gradient(90deg, #8ac8fe, #80f2e0);
  background: linear-gradient(90deg, #8ac8fe, #80f2e0);
  &:hover {
    background: -moz-linear-gradient(left, #75a9d6, #75ddcd);
    background: -webkit-linear-gradient(left, #75a9d6, #75ddcd);
    background: linear-gradient(to right, #75a9d6, #75ddcd);
  }
  &:focus {
    box-shadow: none !important;
  }
}
.btn-secondary {
  border: none;
  background: -moz-linear-gradient(
    left,
    rgb(210, 210, 210),
    rgb(172, 172, 172)
  );
  background: -webkit-linear-gradient(
    left,
    rgb(210, 210, 210),
    rgb(172, 172, 172)
  );
  background: linear-gradient(to right, rgb(210, 210, 210), rgb(172, 172, 172));
  &:hover {
    background: -moz-linear-gradient(
      left,
      rgb(230, 230, 230),
      rgb(200, 200, 200)
    );
    background: -webkit-linear-gradient(
      left,
      rgb(230, 230, 230),
      rgb(200, 200, 200)
    );
    background: linear-gradient(
      to right,
      rgb(230, 230, 230),
      rgb(200, 200, 200)
    );
  }
  &:focus {
    box-shadow: none !important;
  }
}

#user-page > .row {
  margin-left: 0px;
  margin-right: 0px;
  .wrapper {
    padding: 25px 10px;
  }
}
